header {
    color: white;
    background: #004175;
    border-bottom: 3px solid #89DEEF;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

body,
header,
footer {
    font-family: open sans, oswald;
}

ul {
    display: flex;
    justify-content: flex-start;
}